name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract version from package.json
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

      - name: Rename APK with version
        run: |
          cp release/CheckerQ.apk release/CheckerQ-v${{ steps.get_version.outputs.version }}.apk

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            release/CheckerQ.apk
            release/CheckerQ-v${{ steps.get_version.outputs.version }}.apk
          generate_release_notes: true
          draft: false
          prerelease: false
